body {
  font-family: fantasy, monospace;
  text-align: center;
  color: DarkSlateGray;
}

img {
  width: 40%;
}

ul {
  list-style: circle;
  text-align: left;
}

li {
  font-weight: bold;
}

#output {
  text-align: center;
}
