body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

img {
  width: 40%;
}

ul {
  list-style: circle;
  text-align: left;
}

li {
  font-weight: bold;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

#output {
  text-align: center;
}
