body {
  font-family: "Segoe UI", sans-serif;
}

h2 {
  text-align: center;
}

.container {
  height: 500px;
  width: 500px;
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.item {
  margin: 5px;
  padding: 5px;
  background: white;
  word-wrap: break-word;
}
